body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Courier New', Courier, monospace;
}

.display {
  width: max(20vw, 150px);
  aspect-ratio: 1/1;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  box-shadow: 2px 3px 7px 1px rgba(128, 128, 128, 0.2);
}

input {
   width: max(20vw, 150px);
   border: 1px solid rgba(128, 128, 128, 0.3);
   border-radius: 5px;
   font-family: inherit;
   font-weight: 200;
   color: grey;
   padding: 5px 0;
   padding-left: 2px;
}